* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, black, #333, red);
}

h1, h2, h3, h4, h5, h6, p {
  white-space: wrap;
}

/* navigacija */
.nav {
    background-color: black;
}
.navigacija {
    font-size: 18px;
    color: whitesmoke;
}

.navigacija:hover {
    color: rgba(255, 0, 0, 0.684);
}

.logo {
    width: 100px;
    border-radius: 20px;
}

/* dugmici */

.grey {
    background-image: linear-gradient(to right, black, red, black);
    color: white;
}
.grey:hover {
    background-image: linear-gradient(to right, red, black, whitesmoke);
    color: red;
}

.dark {
    background-image: linear-gradient(to right, black, white, black);
}
.dark:hover {
    background-image: linear-gradient(to right, white, black, white);

    color: white;
}

/* hero deo */
.heroTxt {
    font-family: "Nunito", sans-serif;
    color: black;
    text-shadow: 5px -3px 4px white;
}

.hero {
  height: 25vh ;
  background-size: cover;  
  background-position: center;
}

/* slike */
.coverIndex {
    opacity: 1;
    height: 12vh;
}

.coverIndex:hover {
    opacity: 0.7;
}

/* slider */
.carousel-inner {
    height: 70vh;
    width: 100%;
}

.carousel-item {
    height: 70vh;
    width: 100%;
    position: relative;
}
.carousel-item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    animation: pulse;
    animation-duration: 3s;
    display: block;
    margin: 0 auto;
}

.carousel-indicators img {
    width: 70px;
    height: 70px;
    display: block;
}
.carousel-indicators button {
    width: max-content !important;
}

.carousel-indicators {
    position: unset;
}


/* TABELA */

table {
  border-collapse: collapse;
  width: 100%;
  color: white;
}

table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

table tr:nth-child(even){background-color: grey;}

table tr:hover {
  background-color: #ddd;
color: red;}

.sellerInfo {
  border: 1px solid white;

}

/* RESPONSIVE */

@media only screen and (max-width: 992px) {
    .carousel {
        height: 100%;
        overflow: hidden;
    }
    .carousel-inner {
        height: 100%;
        width: 100%;
    }

    .carousel-item {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .carousel-indicators {
        position: static;
        transform: none;
        text-align: center;
    }

    .carousel-indicators img {
        width: 40px;
        height: 30px;
    }
}
